apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-deployment
spec:
  replicas: {{ .Values.api.replicas }}
  selector:
    matchLabels:
      app: api-service
  template:
    metadata:
      labels:
        app: api-service
    spec:
      containers:
      - name: backend-api
        image: {{ .Values.api.image }}
        imagePullPolicy: Never
        ports:
        - containerPort: 5000

        env:
        - name: DB_HOST
          value: postgres-service
        - name: DB_NAME
          value: {{ .Values.postgres.databaseName }}
        - name: DB_USER
          value: {{ .Values.postgres.user }}
        - name: DB_PASS
          valueFrom:
            secretKeyRef:
              name: postgres-secret
              key: postgres-password